.background-app{
  background-image: url("../img/fundo.png") !important;
  background-repeat: repeat;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.esconde {
  display: none;
}

.card {
  margin-bottom: 20px;
}

.remover-disciplina {
  color: black;
}

#target {
  text-decoration: none;
}

